body{
    background-color: rgb(244, 244, 244);
}

.heading{
    color: rgb(78, 78, 79);
    margin-left: 20px;
}
#opening{
    font-family: Tahoma;
    margin-left: 20px;
    margin-right: 20px;
}
.unordered{
    display: inline-block;
    list-style-type: square;
}
button {
    margin-top: 20px;
    line-height: 20px;
    font-weight: bold;
    padding: 0 10px;
    background: rgb(168, 168, 168);
    border: rgb(78, 78, 79) ;
  }
  button:hover {
    background: rgb(132, 132, 132);
  }